.feature-list{
    list-style: none;
    border-radius: 3px;
    margin: 4px 10px;
    padding: 20px 0;
    background-color: #f8f8f8;
    min-height: 450px;
    min-width: 240px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    border: solid 1px #979797;
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #363b40;
}
.feature-div{
    background: #f1f7fd;
}

.transfer{
    display: flex;
    border: solid 1px #979797;
    background-color: #f1f7fd;
    padding: 40px;
}

.selected-column,.unselect-column{
    padding: 4px 10px;
    /* width: 100%; */
    border-radius: 3px;
    transition: 360ms;
}

.selected-column{
    background-color: #cde3fa;
    /* color: #eee; */
    border-bottom: 1px solid #ccc;
}

.selected-column:hover{
    background: #d5e7fa;
    /* color: #f2f2f2; */
    border-bottom: 1px solid #ddd;
    transition: 320ms;
}

.unselect-column{
    background: #f8f8f8;
    border-bottom: 1px solid #eee;
}

.unselect-column:hover{
    color: #343434;
    background: #dfebf8;
    border-bottom: 1px solid #ddd;
    transition: 320ms;
}

.btn-list{
    margin: 0 10px;
    padding: 40px 0;
    text-align: center;
}

.btn-label {
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #363b40;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  margin-top: 30px;
}

.function-btn{
    color: #fff;
    margin: 8px 0;
    transition: 360ms;
    width: 100%;
    height: 33px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #0b85ff;
    border: 1px solid #0b85ff;
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.function-btn:hover{
    color: #f0f0f0;
    background: #00a1d6;
    border: 1px solid #00a1d6;
    transition: 360ms;
}

.function-btn:active{
    color: #f3f3f3;
    background: #048dda;
    border: 1px solid #0597ea;
    transition: 300ms;
}

.function-btn:focus{
    color: #f3f3f3;
    background: #0b85ff;
    border: 1px solid #0597ea;
    transition: 300ms;
}

.feature-list-header{
    font-weight: 600;
    display: block;
    min-height: 24px;
    /* border-bottom: 2px solid #777; */
    padding: 4px 10px;
    font-family: ProximaNova;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #363b40;
}

.column-item{
    margin-left:10px;
}

.column-check-box{
    height: 14px;
    width: 14px;
    background-color: white;
}
