.feature-list{
    list-style: none;
    border-radius: 8px;
    color: #282828;
    margin: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    min-height: 450px;
    min-width: 240px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.feature-div{

}

.transfer{
    display: flex;
}

.selected-city{
    background: #31bcf3;
    color: #eee;
    margin: 4px;
    width: 100%;
    border-radius: 3px;
    border-bottom: 1px solid #999;
    transition: 360ms;
}

.selected-city:hover{
    background: #05a9ea;
    color: #f2f2f2;
    border-bottom: 1px solid #aaa;
    transition: 320ms;
}

.unselect-city{
    background: #f8f8f8;
    margin: 4px;
    width: 100%;
    border-radius: 3px;
    border-bottom: 1px solid #ccc;
    transition: 360ms;
}

.unselect-city:hover{
    color: #343434;
    background: #c0e3f1;
    border-bottom: 1px solid #aaa;
    transition: 320ms;
}

.btn-list{
    margin: 0 10px;
    padding: 10px 0;
}

.function-btn{
    color: #232323;
    width: 100%;
    min-height: 28px;
    background: #f0f0f0;
    border-radius: 3px;
    border: 1px solid #f3f3f3;
    margin: 20px 0;
    font-weight: 400;
    font-size: 18px;
    transition: 360ms;
}

.function-btn:hover{
    color: #f0f0f0;
    background: #00a1d6;
    border: 1px solid #00a1d6;
    transition: 360ms;
}

.function-btn:active{
    color: #f3f3f3;
    background: #048dda;
    border: 1px solid #0597ea;
    transition: 300ms;
}

.function-btn:focus{
    color: #f3f3f3;
    background: #048dda;
    border: 1px solid #0597ea;
    transition: 300ms;
}

.reature-list-header{
    font-weight: 600;
    display: block;
    min-height: 24px;
    border-bottom: 2px solid #777;
    padding: 8px;
}

.city-item{
    margin-left:10px;
}

.city-check-box{
    height: 18px;
    width: 18px;
    background-color: white;
}
